<div class="title-search-result aj-search-result" style="display: block; position: absolute; top: 124px; left: 599px; width: 539px;">
	<a href="javascript:void(0)" class="search_close"><i class="fa fa-times"></i></a>		
	<div id="catalog_search">
							<div class="tvr_search">						
												<a class="image" href="/catalog/gravery/">
															<img src="http://elektrosila.altop.ru/upload/iblock/200/20081139f491959715986e76ca524bb2.jpg" width="50" height="50" alt="Граверы" title="Граверы">
													</a>
						<div class="cat_title">
														<a href="/catalog/gravery/">Граверы</a>
													</div>						
																
					</div>							
									<div class="tvr_search">						
												<a class="image" href="/catalog/gravery/graver-elektricheskiy-prorab-3360-sk/">
															<img src="http://elektrosila.altop.ru/upload/resize_cache/iblock/eba/178_178_1/ebaa8f2eb1718a1d1e8bd1f5e218360a.jpg" width="178" height="178" alt="Гравер электрический PRORAB 3360 SK" title="Гравер электрический PRORAB 3360 SK">
													</a>
						<div class="item_title">
														<a href="/catalog/gravery/graver-elektricheskiy-prorab-3360-sk/">Гравер электрический PRORAB 3360 SK</a>
													</div>						
															<div class="search_price">
																							
											<span class="price">
												1 790												<span class="unit">
													 руб.													<span>за шт</span>
												</span>														
											</span>
																			</div>
																	<div class="buy_more">
										<div class="add2basket_block">
																								<form action="/ajax/add2basket.php" class="add2basket_search_form">
																									<a href="javascript:void(0)" class="minus" id="quantity_minus_bx_83469983_213"><span>-</span></a>
													<input type="text" id="quantity_bx_83469983_213" name="quantity" class="quantity" value="1">
													<a href="javascript:void(0)" class="plus" id="quantity_plus_bx_83469983_213"><span>+</span></a>
																											<input type="hidden" name="ID" value="213">
																												<input type="hidden" name="PROPS" value="">
																												
													<button type="button" id="bx_83469983_213_btn_buy" class="btn_buy" name="add2basket"><i class="fa fa-shopping-cart"></i></button>
												</form>
																					</div>
									</div>
																		
					</div>							
										<a class="search_all" href="/catalog/?q=%E3%F0%E0%E2%E5%F0">Все результаты</a>
						</div>

		
</div>